.header {
    padding: 35px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    margin-right: auto;
    a {
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        color: #0361FF;
    }
}